body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Personalized CSS Styling for React Portfolio */

/* header */
.header {
  padding: 30px;
  font-family: "Indie Flower", cursive;
  margin: auto 30px;
  font-size: large;
  font-weight: bolder;
}

/* header navigation tabs */
.nav {
  justify-content: center;
  font-size: 100px;
  font-weight: bolder;
  text-decoration: underline;
}

/* React Portfolio */
* {
  background: #acb7e9;
  font-family: "Indie Flower", cursive;
  font-weight: bolder;
  font-size: large;
  box-sizing: border-box;
}

.my-image {
  border-radius: 25%;
  padding: 5px 5px;
}

/* text styling */

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

p {
  font-size: 25px;
  color: #ffff;
  font-weight: bold;
  font-family: "Indie Flower", cursive;
}

h1 {
  margin: auto 30px;
  padding: 10px;
  color: #0000ff;
  font-weight: bold;
  font-family: "Indie Flower", cursive;
}

h2 {
  margin: auto 30px;
  padding: 10px;
  color: #a038dd;
  font-weight: bolder;
  font-family: "Indie Flower", cursive;
}

h3 {
  margin: auto 30px;
  padding: 10px;
  color: #0000ff;
  font-weight: bold;
  font-family: "Indie Flower", cursive;
}

li {
  color: #ff00bf;
}

/* card styling */

.card {
  /* background-color: #ffff; */
  border-radius: 2px;
  height: 525px;
  margin: 1rem;
  position: relative;
  width: 325px;
  box-shadow: 0 3px 6px rgb(213, 24, 24), 0 3px 6px #999;
  text-align: left;
}

/* card container */
.card > .img-container {
  height: 50%;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgb(213, 24, 24), 0 3px 6px #999;
}

/* card container for images */
.card > .img-container > img {
  width: 100%;
  padding: 25px;
  background-color: #ffff;
}

/* card content - skills */
.card > .content {
  padding-right: 1rem;
  font-size: 18px;
  background-color: #ffff;
  color: #a038dd;
  font-weight: bold;
}

/* card content container */
.card > .content > ul {
  list-style-type: none;
  padding-right: 0.5rem;
  padding-left: 1.5rem;
  background-color: #ffff;
}

/* card content - skills - li - background */
.card > .content > ul > li {
  margin-top: 18px;
  background-color: #ffff;
  font-weight: bolder;
}

/* wrapper contains project */
.wrapper {
  padding-top: 50px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

/* background color and text for project title */
.project-title {
  background-color: rgb(255, 4, 4);
  font-weight: bolder;
  font-family: "Indie Flower", cursive;
}

/* text for wrapper content */
.project-description {
  background-color: white;
  font-weight: bolder;
  color: #a038dd;
}

/* styling for resume page */
.contact {
  margin: auto 30px;
  padding: 10px;
  color: #a038dd;
  font-weight: bolder;
  font-family: "Indie Flower", cursive;
}

.technical-skills {
  margin: auto 30px;
  color: #ff0000;
  font-weight: bold;
  flex: center;
  justify-content: center;
  align-content: center;
  font-size: 22px;
}

.education {
  margin: auto 30px;
  color: #ff0000;
  font-weight: bold;
  flex: center;
  justify-content: center;
  align-content: center;
  font-size: 22px;
}

/* styling for contact page */
.form {
  margin: 50px;
}

.form input {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  height: 50px;
  background-color: #ffff;
}

.form > .message-input {
  height: 20rem;
}
